$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$bootstrap-sass-asset-helper: true;
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body, h1, h2, p, div {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !important;
  font-weight: 300 !important;
}

.well {
  margin: 30px 0;
  padding: 15px 0;
  text-align: center;
  background-color: #F4F4F4 !important;
}

.meeting-summary,
.meeting-form {
  padding: 20px;
  font-size: 16px;
  margin-bottom: 12px;
  .row {
    margin: 15px 0;
  }
}

.meeting-summary {
  background-color: #D9EDF7 !important;
}

.meeting-form {
  background-color: cornsilk !important;
}

.meeting-list {
  padding-left: 40px;
  border: 1px solid #ddd !important;
  li {
    font-size: 18px;
    line-height: 30px;
  }
}
